.App {
  text-align: center;
  display: flex;
  flex-direction: space-around;
  margin: auto 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat{
  width: 40vw;
  display: flex;
  margin-top: 2%;
  justify-content: flex-end;
}

.theater{
  width: 110vw;
  margin: 2%;
  border: wheat 1px solid;
}

.icon{
  z-index: 55;
}

.frame{
  width: 110vw;
  margin: 2%;
  border: wheat 1px solid;
}

.textParagraph{
  font-size: 48px;
  font-weight: bold;
  color: red;
  position: relative;
}

.seats{
  width: 100%;
}

.seatChart{
  position: fixed;
  bottom: 0;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: -1;
}

.avatar{
  width: 20%;

}