@import url('https://fonts.googleapis.com/css?family=Condiment&display=swap');

.App {
  text-align: center;
  display: grid;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header{
  font-family: 'Condiment', cursive;
  letter-spacing: 4px;
  font-size: 105px;
  color: rgb(255, 1, 1);
  letter-spacing: 10px;
  margin-bottom: 0px;
}

.layer_one{
  grid-column: 1;
  grid-row: 1;
  color: rgb(226, 168, 168);
  margin-left: -4px;
  grid-column-gap: -10px;
}

.layer_two{
  grid-column: 1;
  grid-row: 1;
}

.text_input{
  font-size: 48px;
  width: 250px;
  margin: 0 auto;
}

.room_submit{
  font-size: 48px;
}
img{

  transform: translateX(840px);
  opacity: 1;
  /* visibility: hidden; */
  display: inline-block;
  margin-bottom: 80px;
  
}